*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Comic Sans', 'Gothic Rounded', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: radial-gradient(rgb(144, 1, 89), rgb(87, 0, 87));
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(120px, auto) repeat(6, 70px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgba(0, 0, 0, 0.75)
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-row: span 2;
}
.reach-four {
    grid-column: span 4;
}
.reach-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 25px 25px 0px 0px;
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
}

.round {
    border-radius: 0px 0px 25px 25px ;
}